<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Voice Recorder</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <header>
        <h1 class="logo">Tranlator</h1>
        <ul class="nav">
            <li class="navlink"><a href="#">Home</a></li>
            <li class="navlink"><a href="#">Record</a></li>
            <li class="navlink"><a href="#">Translate</a></li>
        </ul>
        </header>
    <div class="container">
        <div class="display">

        </div>

        <div class="controllers">

        </div>
    </div>
</body>
<script src="/static/javascript/script.js"></script>
</html>